@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);
$white:#fff;
$body-font: 'Rubik', sans-serif;